<div class="card-body">
  <div class="row mb-0">
    <div class="form-group col-12">
      <%= text_field_tag "#{param_prefix}[preferred_address]", promotion_rule.preferred_address, class: 'form-control mb-3' %>
    </div>
  </div>
</div>
